@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@600&family=IBM+Plex+Serif:ital,wght@1,300&family=Space+Grotesk:wght@400;600&family=Playfair+Display:wght@600&family=Source+Serif+4:wght@400&family=JetBrains+Mono:wght@400;600&family=Fraunces:opsz,wght@9..144,600&family=Outfit:wght@400;600&display=swap'); // Define defaults for each variable.

$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$heading-font-weight: 600 !default;
$light-font-weight: 300 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit: 16px !default;

$text-color: #d5c0fe;
$text-color-darker: #a391c7;
$text-color-light: #eadffe; // $background-color: desaturate(lighten(complement($brand-color), 34%), 60%) !default;

$bullet-color: var(--accent-color);

$grey-color: lighten(desaturate($text-color, 50%), 12%) !default;
$grey-color-light: lighten(desaturate($grey-color, 40%), 65%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$orange-color: #f66a0a !default;
$red-color: #f86b6b !default;

$table-text-align: left !default; // Width of the content area
$table-alt-line-bg: #3b314e;

$content-width: 800px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default; // Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
// Import partials.
@import "minima/base", "minima/type", "minima/layout", "minima/syntax-highlighting", "minima/pell", "minima/stripes";